/* Global Styles */
.oocb {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;  /* Texto oscuro para contraste */
  margin: 0;
  padding: 0;
  text-align: center;  /* Centra el contenido */
}
.logo {
  height: 70px;
  width: 70px;
}
.logoimg {
  width: 70px;   /* Ajusta el tamaño de la imagen */
  height: auto;  /* Mantén la proporción */
}
.encabezado {
  display: flex;           /* Activa el flexbox */
  align-items: center;      /* Alinea verticalmente al centro */
  justify-content: center;  /* Alinea horizontalmente al centro */
  background-color: #006dbf;  /* Celeste intenso */
  gap: 15px;                /* Espacio entre la imagen y el título */
  color: white;
  padding: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}
.titulo{
  text-decoration: none;
  cursor: pointer;
  color: white;
}
h1 {
  font-size: 24px;          /* Tamaño de fuente del título */
  margin: 0;                /* Elimina el margen del h1 */
}
.menu {
  background-color: #333;
  padding: 15px;
}
.menu-content a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.menu-content a:hover {
  background-color: #0056a3;
  border-radius: 5px;
}
.ig{
  height: 25px;
}
.fondo{
  background-color: #fff;
  display: flexbox;
  background-repeat:round;
  position: relative;
}
.fondo:before {
content:'';
position: absolute;
      top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.6);
}
p{
  margin: 0;
}
.texto{
  margin: 0;
  color: #fff;
  position: relative;
  padding: 50px;
}
.foto-parrafo{
  max-width: fit-content;
  padding: 20px;
  position: relative;
  height: 80%;
  width: 80%;
  border-radius: 10px;
}
footer{
  height: 70px;
  display: flex;
  background-color: #006dbf;  /* Celeste intenso */
  padding: 20px;
  left: 0;
  bottom: 0;
}
section{
  position: relative;
  
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
